*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

li{
    list-style: none;
    text-decoration: none;

    
}

.menudeslizable li a{
    text-decoration: none;
    color: white;
}

body{
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: black;
}
a{
    
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease; 
    display: inline-block; 
    text-decoration: none;
}

a:hover{
    color: #8fbc8f;
    
}

header{
    position: relative;
    padding: 0 2rem;
}

.menu{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}

.menu .apartados{
    display: flex;
    gap: 2rem;
    
}

.menu .barra{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    
    
}
.action_btn{
    background-color: rgb(99, 255, 51);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
    
}



.menudeslizable{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(68, 56, 56, 0.562);
    backdrop-filter: blur (15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.menudeslizable.open{
    height: 240px;
   
}


.menudeslizable li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    

}

.menudeslizable .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}



.formulario-contenedor {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center; 
    margin-top: 10%;
}

h2 {
    color: #333;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease; 
    display: inline-block; 
 
}

.campo {
    margin-bottom: 20px; 
}

.campo label {
    display: block;
    margin-bottom: 10px;
}
.campo input[type="text"] {
    width: 100%;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accion {
    text-align: right;
}

.btn-confirmar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #62e162;
    color: white;
    cursor: pointer;
}

.btn-confirmar:hover {
    background-color: #98fb98;
    
}
.principal {
    display: flex;
    background-color: #fff;
    border-style: none;
}

.tarjeta {
    flex: 50%;
    margin: 10px;
    border: none;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
}

.tarjeta .contenidoTarjeta {
    flex-grow: 1;
    flex-shrink: 1;
}

.tarjeta .final {
    background-color: #8fbc8f;
    padding: 10px;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url('../imgs/pexels-tanathip-rattanatum-2026324.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


@media (max-width: 992px){
    .menu .apartados,
    .menu .action_btn{
        display: none;
    }

    .menu .barra{
        display: block;
    }
}

@media (max-width: 576px){
    .menudeslizable{
    left: 2rem;
    width: unset;
    }
 }

